@charset "utf-8";
html,body{height: 100%;}

#header_top .logo{height: 50px;width: 131px;;padding: 0 10px;background-image: url(../images/logo1.png);}

.content1>ul{
    display: flex;
    flex-wrap:wrap;
   
}


.content1>ul>li{
    /* float: left; */
    height: 50px;
    color: black;left: 50%;transform: translateX(-50%);position: absolute;margin-top: 15px;
}
.content1>ul>li:hover{color: red;}

.content1>ul>li:nth-child(1){margin-left: -200px;}
.content1>ul>li:nth-child(2){margin-left: -100px;}
.content1>ul>li:nth-child(3){margin-left: 0px;}
.content1>ul>li:nth-child(4){margin-left: 100px;}
.content1>ul>li:nth-child(5){margin-left: 200px;}
.content1>ul>li:nth-child(6){margin-left: 300px;}



footer{_background: skyblue;width: 100%;height: 200px;position: relative;background: #262626;color: #bdbdbd;}
footer div{width: 980px;margin: 0 auto;margin-bottom: -15px;padding-top: 80px;}
footer h5{margin-left: 80px;margin-top: -5px;}
footer h6{margin-left: 80px;margin-top: 5px;}
footer div img{position: absolute;margin-left: -65px;margin-top: -30px;}
footer .icon1{position: absolute;left:50%;transform: translateX(-50%);margin-left: 300px;}
footer .icon2{position: absolute;left:50%;transform: translateX(-50%);margin-left: 225px;}
footer .icon3{position: absolute;left:50%;transform: translateX(-50%);margin-left: 150px;}
@media screen and ( min-width:700px ){
    
    #main_header{width: 100%;;height: 1000px;position: relative;margin-bottom: 60px;;}
    .content1{top: 800px;height: 50px;background: #eaeaea;border-top: 1px solid red;margin-top: 100px;}

    #header_top{
        width: 1240px;_background: pink;position: absolute;
        left:50%;transform: translateX(-50%);top:-100px;
        display: flex;justify-content: space-between;align-items:center
    }
    
    #header_top .gnb{_background: skyblue;;}
    #header_top .gnb li{float: left;}
    #header_top .gnb li>a{display: block;line-height: 50px;text-align: center;padding:0 30px;color: #000;font-size: 1.2em;margin-top: 30px;margin-bottom: 10px;;}
    .toggle{display: none;}

    .body1{margin-top: 0px;;width: 100%;height: 1000px;position: relative;_background: #ccc;opacity: 3;}
    .body1 .t1{width: 1240px;height: 1000px;_background: #bcbcbc;left:50%;transform: translateX(-50%);position: absolute;
        padding-top: 50px;padding-top: 50px;padding-left: 50px;padding-right: 50px;position: absolute;}
    .body1 .top{left: 1140px;border-bottom: 1px solid #000;padding: 10px;line-height: 10px;}
    .body1 b{font-size: 2em;}
    .body1 .text{margin-left: 840px;}
    
    .body1 .mid{width: 1140px;_background-color: #ccc;margin-top: 70px;height: 310px;margin-left: 20px;}
    .body1 .mid b{font-size: 1.5em;position: absolute;top: 200px;}
    .body1 .mid p{font-size: 0.8em;position: absolute;top: 250px;}
    .body1 .mid img{padding-top: 230px;}

    .body1 .mid .css2{position: absolute;top:-30px;left: 700px;}


    .body1 .mid1{width: 1140px;_background-color: #ccc;margin-top: 70px;height: 310px;margin-left: 20px;}
    .body1 .mid1 b{font-size: 1.5em;position: absolute;width: 400px;}
    .body1 .mid1 p{font-size: 1em;margin-top: 50px;position: absolute;}
    .body1 .mid1 img{float: left;width: 360px;}
    .body1 .mid1 a{margin-top: 110px;_background: #000;height: 300px;position: absolute;width: 360px;text-align: center;}
    .body1 .mid1 .a2{margin-left: 400px;}
    .body1 .mid1 .a3{margin-left: 780px;}
    .body1 .mid1 .a1 p{margin-top: 200px;margin-left: 100px;}
    .body1 .mid1 .a2 p{margin-top: 200px;margin-left: 100px;}
    .body1 .mid1 .a3 p{margin-top: 200px;margin-left: 100px;}

    
    .bt{width: 100%;height: 250px;;margin-left: 0px;margin-top: -60px;;position: relative;_background: #bcbcbc;}
    .bt ul{width: 1240px;position: absolute;left: 50%;transform: translateX(-50%)}
    .bt li{width: calc( 1150px / 6 );float: left;height: 100px;position: absolute;background: #262626;margin-top: 70px;;}
    .bt b{left: 50%;transform: translateX(-50%);position: absolute;margin-top: 0px;font-size: 1.3em;}
    .bt p{width: 70px;height: 20px;position: absolute;left: 50%;transform: translateX(-50%);text-align: center;}
    .bt li:nth-child(1){left: 50%;transform: translateX(-50%);margin-left: -510px}
    .bt li:nth-child(2){left: 50%;transform: translateX(-50%);margin-left: -308px;}
    .bt li:nth-child(3){left: 50%;transform: translateX(-50%);margin-left: -100px;}
    .bt li:nth-child(4){left: 50%;transform: translateX(-50%);margin-left: 108px;}
    .bt li:nth-child(5){left: 50%;transform: translateX(-50%);margin-left: 316px;}
    .bt li:nth-child(6){left: 50%;transform: translateX(-50%);margin-left: 524px;}
} /* pc media */


@media screen and ( max-width:699px ){
    #main_header{overflow: hidden;}
    #header_top .logo{height: 50px;width: 131px;;padding: 0 10px;background-image: url(../images/logo1.png);}
    .content1{top: 800px;height: 50px;background: #eaeaea;border-top: 1px solid red;display: none;}


    #header_top{
        _background: pink;padding: 0 16px;z-index:99999;
        position: fixed;width: 100%;
        display: flex;justify-content: space-between;align-items:center
    }
    
    #header_top .gnb{
        position: fixed;width: 100%;height: 100%;background-color:rgba(0,0,0,0.5);
        left: 0;top: -100%;z-index:1;display:flex;justify-content: center;
        align-items:center;text-align: center;transition:0.3s
    }
    #header_top .gnb.view{
        top: 0;
    }
    #header_top .gnb a{
        line-height: 40px;_background: orange;width: 200px;display: block;
        font-size: 1.5em;font-weight:bold;
    }
    #header_top .gnb li{margin-bottom: 15px;}
    #header_top .gnb a{color: white;}

    
    .toggle{display: block;}
    .toggle{width: 40px;height: 40px;background: #000;position: relative;z-index:2}
    .toggle div{
        position: absolute;width: 25px;height: 3px;background: white;
        left: 50%;top:50%;transform: translate(-50%,-50%);
        border-radius:2px;transition:0.3s;cursor:pointer
    }
    .toggle .bar1{top:10px;}
    .toggle .bar3{top:30px}

    .toggle.active .bar1{top:50%;transform:translate(-50%,-50%) rotate(45deg)}
    .toggle.active .bar2{opacity:0}
    .toggle.active .bar3{top:50%;transform:translate(-50%,-50%) rotate(-45deg)}

    .body1{width: 100%;height: 1000px;padding-top: 100px;margin-left: 20px;position: relative;}
    .body1 .top b{font-size: 2.0em;width: 600px;border-bottom: 2px solid #bdbdbd;position: absolute;padding-top: 20px;padding-bottom: 10px;}
    .body1 div{width: 100%;padding-top: 10px;;margin-top: -25px;;position: absolute;font-size: 0.9em;}
    
    .body1 .mid{width: 100%;margin-top: 100px;padding-right: 40px;}
    .body1 .mid b{font-size: 1.5em;border-bottom: solid 2px #bcbcbc;padding-bottom: 5px;}
    .body1 .mid p{font-size: 0.9em;margin-top: 30px;margin-bottom: 20px;}
    .body1 .mid img{width: 100%;;margin-bottom: 200px;}
    .body1 .mid .css1{position: absolute;top: 540px;left: 44%;;transform: translateX(-50%);padding-left: 40px;width: 100%;;}
    .body1 .mid .css2{}

    .body1 .mid1{top: 1000px;width: 100%;padding-right: 40px;}
    .body1 b{font-size: 1.5em;border-bottom: 2px solid #bcbcbc;padding-bottom: 5px;}
    .body1 p{font-size: 0.9em;margin-top: 30px;margin-bottom: 20px;}

    .body1 .mid1 a{width: 100%;;left: 50%;transform: translateX(-50%);position: absolute;text-align: center;margin-left: -20px;}
    .body1 .mid1 img{width: 430px;left: 50%;transform: translateX(-50%);position: absolute;}
    .body1 .mid1 .a1 p{padding-top: 220px;}
    .body1 .mid1 .a2 p{padding-top: 220px;}
    .body1 .mid1 .a3 p{padding-top: 220px;}
    .body1 .mid1 .a1{}
    .body1 .mid1 .a2{margin-top: 300px;}
    .body1 .mid1 .a3{margin-top: 600px;}

    .bt{margin-top: 1050px;width: 100%;height: 900px;;background: #ccc;text-align: center;padding-top: 50px;}
    .bt li{width: 250px;position: absolute;background: #4c4c4c;transform: translateX(-50%);left: 50%;margin-top: 50px;}
    .bt li:hover{background: #ee6b06}
    .bt li img{width: 100%;}
    .bt b{font-size: 1.1em;padding-top: 20px;}
    .bt li:nth-child(1){}
    .bt li:nth-child(2){margin-top: 170px;}
    .bt li:nth-child(3){margin-top: 290px;}
    .bt li:nth-child(4){margin-top: 410px;}
    .bt li:nth-child(5){margin-top: 530px;}
    .bt li:nth-child(6){margin-top: 650px;}


    footer{_background: skyblue;width: 100%;height: 300px;position: relative;background: #262626;color: #bdbdbd;}
    footer div{;margin-bottom: -15px;padding-top: 100px;position: absolute;left: 50%;width: 100%;border-bottom: 1px solid #bcbcbc;
        transform:translateX(-50%);height: 100px;}
    footer h5{margin-left: 80px;margin-top: -90px;width: 1000px;line-height: 30px;display: block;position: absolute;margin-left: 80px;}
    footer h6{margin-left: 80px;margin-top: 60px;width: 400px;}
    footer div img{position: absolute;margin-left: 500px;transform: translateX(-50%);left: 50%;left: -370px;top: 135px;}
    footer .icon1{position: absolute;transform: translateX(-50%);left: 50%;bottom: 35px;margin-left: -200px;}
    footer .icon2{position: absolute;transform: translateX(-50%);left: 50%;bottom: 35px;margin-left: -135px;}
    footer .icon3{position: absolute;transform: translateX(-50%);left: 50%;bottom: 35px;margin-left: -80px;}

}/* mobile media */

/* ----------------------------subpagecompany-------------------------------------- */


/* -------------------------------------------------------------------------- */
