@charset "utf-8";

body{font-family: 'Nanum Gothic', sans-serif;}

.header {width: 100%;}
.headerWrap {width: 100%;background:#0044af;}
.menu {width:1200px; margin:0 auto;}
.menuWrap1{float:left;  }
.menuWrap1 li{
            width:130px;
            float:left; display: block;
             border: 1px solid #000;
            background: #00163b;
            margin:0 5px;
}
.menuWrap1 li a {line-height:40px; display:block; color:#fff; text-align:center; font-size: 14px; }



.menuWrap2 {float:right;}
.menuWrap2>ul>li{float:right; display: block; padding:5px;}
.menuWrap2 li a{color:#fff; font-size:13px;}

.menu2{width:1200px; margin:0 auto;padding-top:20px;padding-bottom: 20px;}
.menu2 .logo{float: left;}

.menu2 ul {float:right;}
.menu2 ul li{float:left;margin-left:20px}
.menu2 li a{ display:block;line-height: 67px;  padding:0 5px; font-size: 18px bold; color:#5f5f5f; }

