@charset "UTF-8";

body{min-width: 980px}
.mb15{margin-bottom: 15px !important;}

.wrap {width: 1000px; margin: 0 auto;}
.blind {text-indent: -9999px; display: block;}
fieldset {border: 0 none; }
legend {display: block; position: absolute; left: 0; top: -9999px;}
body {min-width:1200px;}

.hTop {width: 100%; height: 90px; background: #0d72a8 url(../image/topbg.jpg) no-repeat center;}
.logo {float: left; background: url(../image/logo.png) no-repeat; width: 145px; height: 60px; margin-top: 10px; margin-right: 130px; display: block; cursor: pointer;}
.search {width: 300px; height: 30px; background: #fff; border-radius: 30px; border:0; position: relative; float: left; margin-top: 30px;position: relative;}
.search label {position: absolute; left: 15px; top: 5px; font-size: 14px; color: #343b41; font-weight: bold;}
.input_search {width: 200px; margin-left: 85px; border:0; font-size: 12px; height: 30px;}
.input_search:focus, .btn-submit:focus {outline: 0;}
.btn-submit {position: absolute; border: 0 none; width: 22px; height: 22px; background: #fff url(../image/search.png) no-repeat 3px; right: 15px; top: 4px; cursor: pointer;}

.subMenu {float: right; margin-top: 25px; width: 340px;}
.subMenu h2 {float: left; color: #fff; font-size: 24px; font-weight: bold;}
.subMenu ul {float: right; margin-top: 4px;}
.subMenu ul li {float: left; padding left:15px; background:url(../img/icon1.png) no-repeat; border-radius: 10%;}
.subMenu ul li + li {margin-left: 6px;}
.subMenu ul li a {display: block;}

.hBtm {width: 100%; height: 60px; background: #fff; border-bottom: 5px solid #0e73a7;}

.gnb li {float: left; width: calc(1000px / 6); border-left: 1px solid #e7e7e7;}
.gnb li:last-child {border-right: 1px solid #e7e7e7;}
.gnb li a {display: block; line-height: 56px; font-size: 18px; text-align: center; font-weight: bold;}
.gnb li a:hover {color: #0e73a7;}

/* ----------------------------subpagecompany-------------------------------------- */
body.sub{background: #ccc;}
.subcontent .subimg{
    height: 300px;background: skyblue;
    display: flex;justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subcontent .subimgtitle{text-align: center;transform: translateY(-30px)}
.subcontent .subimgtitle h3{font-size: 2em;text-shadow: 0 0 10px #fff;}
.subcontent .subimgtitle h3:after{
    content:"";display: block; width: 80%;height: 2px;background: #000;
    margin: 10px auto;
}
.subcontent .container{width: 980px;margin: 0 auto;padding: 30px 0 ;}
.subcontent .container img{display: block;margin: 0 auto;}
.subcontent .location{width: 860px;margin: 0 auto; font-size: 14px;margin-bottom: 16px;}


.subcontent.company .subimg{
    background-image: url(../image/subimg01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subcontent.company .container{
    border: 1px solid #999;
    border-top: 5px solid #0664A1;
    border-bottom: 5px solid #0664A1;
    position: relative;top: -50px;background: #fff;
}
.subcontent.citytour .subimg{
    background-image: url(../image/7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* -------------------------------------------------------------------------- */

.con{margin: 0 auto;height: 1125px;;
    background: url(../image/back.png)no-repeat fixed 0 0/100% 100%;position: relative;;}
.zi{position: absolute;z-index: 10;}
.ct{float: left;position: relative;width: 485px;height: 560px;}
.cont{padding-top: 55px;float: left;position: relative;}
.re li{padding: 15px 10px 10px 10px 155px;background: #fff;}
.rf {height: 300px;;width: 300px;margin-left: 150px;margin-top: 10px;background: #fff;padding-top: 20px;margin-bottom: 10px;}
.rf label {display: block; font-weight: bold; margin-bottom: 5px;}
.rf select {width: 100%; border-radius: 3px; border: 1px solid #aaa; height: 35px; text-indent: 8px; font-weight: bold; margin-bottom: 10px; font-size: 12px; display: block;}
.rf .left {float: left;}
.rf .right {float: right;}
.left input, .right input {border-radius: 3px; border: 1px solid #aaa; height: 35px; text-indent: 8px; font-weight: bold; margin-bottom: 10px; width: 140px; font-size: 12px;}
.personnum {float: right;}
.rightnum {float: left;}
.rf .rightnum input {border-radius: 3px; border: 1px solid #aaa; height: 35px; text-indent: 10px;
     font-weight: bold; margin-bottom: 10px; width: 57px;margin-right: 5px;}
.btn-reserv {height: 40px; line-height: 35px; width: 100%;  color: #fff; font-size: 18px; border-radius: 5px; background-color: #ea4f1f; background-image: url(../img/reserv_icon.png); background-repeat: no-repeat; background-position: 90px 10px; cursor: pointer; border: 1px solid #aaa;}

.Tap {position: absolute; top: 10px; left: 0;}
.Tap .active {background: #fff; color: #535353; font-weight: bold;}
.Tap li {width: 130px; height: 75px; background: #0099cb; border-bottom: 1px solid #0086b2;;}
.Tap li :hover{background: #fff;color: black;}
.Tap li a {display: block; line-height: 75px; text-align: center;  color: #fff;}
.Tap li:last-child a {border-bottom: 0;}
.fas {font-size: 1.7em;}
.active .fas {color: #0099cb;}
.fa-fw {width: 100px;}

.bx-wrapper {box-shadow: none; border: none; background: none; margin-bottom: 15px; height: 300px; background: #fff;}

.ct_right {float: right; width: 515px; padding: 20px 0 0 50px; position: relative; z-index: 20;}
.ct_right h2 {position: relative; width: 350px; font-size: 65px; letter-spacing: -1px;}
.ct_right h2:after {content: ''; position: absolute; width: 90px; height: 5px; background: #000; bottom: 0;right: 0;}
.ct_right h3 {font-size: 30px; letter-spacing: -4px; font-weight: normal;}

.container1 {width: 100%; height: 240px;}
.cont1 {position: relative; float: left; width: 233px; height: 240px; background: #ccc; background: url(../image/t2.jpg);}
.cont2 {position: relative; float: right; width: 233px; height: 240px; background: #eee; background: url(../image/t1.jpg);left: -2px;}

.container1 h5 {float: left; color: #fff; line-height: 50px; font-size: 16px;}
.container1 p {float: right; line-height: 50px; font-size: 16px; color: #6ec662; padding-left: 10px; margin-right: 20px; letter-spacing: 0.5px; font-weight: bold;}
.container1 a {position: absolute; right: 20px; margin-top: 17px; width: 20px;}
.bar {position: absolute; width: 100%; height: 50px; background: #152630; bottom: 0; padding: 0 25px;}

.bc{width: 980px;height: 500px;_background: #000;margin-top: 570px;
    ;position: relative;text-align: left;}
.bc .container2{width: 230px;height: 240px;;background-color: #fff;position: absolute;float: left;
    display: block;background-image: url(../image/paris.jpg);;}
.bc .container3{width: 230px;height: 240px;;background-color: #fff;position: absolute;float: left;
    display: block;margin-left: 250px;top: 0;background-image: url(../image/disney.jpg);;}
.bc .container4{width: 230px;height: 240px;;background-color: #fff;position: absolute;float: left;
    display: block;;margin-left: 250px;top: 0;background-image: url(../image/sun\ 1.png);}
.bc .container5{width: 230px;height: 240px;;background-color: #fff;position: absolute;float: left;
    display: block;margin-left: 250px;top: 0;;background-image: url(../image/con4.jpg);}
.bc .container2 .con3{background-color: #529351;;width: 230px;height: 64px;margin-top:176px;}
.bc .container2 .con4{background-color: #213848;width: 230px;height: 64px;margin-top:176px;}
.bc .container2 .con5{background-color: rgba(0,0,0,0.5);width: 230px;height: 64px;margin-top:176px;}
.bc .container2 .con6{background-color: #44619d;width: 230px;height: 64px;margin-top:176px;}

.bc .container2 .con3 .bar1 h4{color: #fff; font-size: 1.05em;padding-top: 10px;padding-left: 18px;}
.bc .container2 .con3 .bar1 p{padding-left: 17px;}

.bc .container3 .con4 .bar1 h4{color: #fff; font-size: 1.05em;padding-top: 10px;padding-left: 18px;}
.bc .container3 .con4 .bar1 p{padding-left: 17px;}

.bc .container4 h3{color: #fff;text-align: center;margin-top: 15px;;font-size: 1.3em;}
.bc .container4 .con5 .bar1 h4{color: #fff;padding-left: 18px;margin-top: -42px;padding-top: 8px;}
.bc .container4 .con5 .bar1 h5{color: #fff;padding-left: 18px;opacity: 0.7;}
.bc .container4 .con5 .bar1 p{padding-left: 17px;}

.bc .container5 h3{color: #484848;text-align:left;;margin-top: 18px;margin-left: 20px;;font-size: 0.8em;line-height: 18px;}
.bc .container5 img{margin-left: 20px;}
.bc .container5 .ps{color: blue;font-size: 0.7em;margin-left: 20px;margin-top: 25px;}
.bc .container5 .con6 .bar1 h4{color: #fff;padding-left: 18px;margin-top: -121px;padding-top: 8px;}
.bc .container5 .con6 .bar1 h5{color: #fff;padding-left: 18px;opacity: 0.7;}
.bc .container5 .con6 .bar1 p{padding-left: 17px;}



.bc .container6{width: 230px;height: 240px;;background-color: #fff
    ;position: absolute;float: left;
    display: block;background-image: url(../image/7.jpg)
    ;margin-left: -500px;margin-top: -2px;overflow: hidden;
}
.bc .container7{width: 230px;height: 240px;top: 260px;background-color: #fff
    ;position: absolute;float: left;
    display: block;margin-left: -250px;
    background-image: url(../image/8.jpg);overflow: hidden;
}
.bc .container8{width: 230px;height: 240px;;background-color: #fff;
    position: absolute;float: left;;
    display: block;;top: 260px;
    background-image: url(../image/9.jpg);overflow: hidden;
}
.bc .container9{width: 230px;height: 240px;;background-color: #fff;position: absolute;float: left;
    display: block;margin-left: 250px;top: 260px;
    ;background-image: url(../image/10.jpg);overflow: hidden;
}

.bc .container6 .con7{background-color: rgba(0,0,0,0.5);width: 230px;
    height: 240px;margin-top:240px;color: white;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
}
.bc .container7 .con8{background-color: rgba(0,0,0,0.5);width: 230px;height: 240px;
    margin-top:240px;color: white;position: absolute;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
}
.bc .container8 .con9{background-color: rgba(0,0,0,0.5);width: 230px;height: 240px;
    margin-top:240px;color: white;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
}
.bc .container9 .con10{background-color:rgba(0,0,0,0.5);width: 230px;height: 240px;
    margin-top:240px;color: white;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
}

.bc .container6 .bar1,
.bc .container9 .bar1{position: relative;}
.bc .container6 .bar1 h4,
.bc .container9 .bar1 h4{text-align: center;font-size: 1.2em;padding-top: 30px;}
.bc .container6 .bar1 h5,
.bc .container9 .bar1 h5{text-align: center;margin-top: 10px;}
.bc .container6 img{margin-left: 33px;padding-top: 15px;;position: absolute;}
.bc .container9 img{margin-left: 45px;padding-top: 15px;;position: absolute;}
.bc .container7 .bar1,
.bc .container8 .bar1{position: relative;}
.bc .container7 .bar1 h4,
.bc .container8 .bar1 h4{text-align: center;font-size: 1.2em;padding-top: 140px;padding-left: 65px;;position: absolute;}
.bc .container7 .bar1 h5,
.bc .container8 .bar1 h5{text-align: center;padding-top: 180px;;}
.bc .container7 img{margin-left: 40px;padding-top: 127px;;position: absolute;}
.bc .container8 img{margin-left: 45px;padding-top: 130px;;position: absolute;}
.bc .container7 .rd,
.bc .container8 .rd{padding-top: 100px;position: absolute;}
.bc .container6 .bu,
.bc .container7 .bu,
.bc .container8 .bu,
.bc .container9 .bu{width: 25px;height: 25px;;border: 1px solid #fff;margin-left: 102.5px;margin-top: 10px;border-radius: 50%;}
.bc .container6 .m,
.bc .container7 .m,
.bc .container8 .m,
.bc .container9 .m{width: 10px;height: 10px;border-bottom: 1px solid white;margin-left: 110px;margin-top: -22.5px;position: absolute;}
.bc .container6 .w,
.bc .container7 .w,
.bc .container8 .w,
.bc .container9 .w{width: 10px;height: 10px;border-left: 1px solid white;margin-left: 115px;margin-top: -18px;position: absolute;}


@keyframes con7{
    to{margin-top:  0px}
}
.container6:hover .con7{animation-name: con7}
@keyframes con8{
    to{margin-top:  0px}
}
.container7:hover .con8{animation-name: con8}
@keyframes con9{
    to{margin-top:  0px}
}
.container8:hover .con9{animation-name: con9}
@keyframes con10{
    to{margin-top:  0px}
}
.container9:hover .con10{animation-name: con10}

footer{_background: skyblue;width: 100%;height: 80px;position: relative;}
footer div{width: 980px;margin: 0 auto;margin-bottom: -20px;}
footer h5{margin-left: -10px;margin-top: 30px;}
footer h6{margin-left: -10px;margin-top: 5px;}
